extends ../layout

block content
  main.container
    div.card
      div.card-title
        h2= blog.title
      div.card-body
        div.card-text
          p= blog.description
    a(href="/blog") blog home 
    form(action=`/blog/show/${blog._id}` method='POST')
            input(type="hidden" name='_method' value='DELETE')
            a(href=`/blog/edit/${blog._id}` class='btn btn-info m-1') 수정
            button.btn.btn-success.m-1 삭제 