// Variable overrides first

// Then import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

body {
    padding: 51px;
    font: 25px 'Lucida Grande', Helvetica, Arial, sans-serif;
    color: #445544;
}

a {
    color: #aab7ff;
    text-decoration: none;
}
