// Variable overrides first
$text-dark: #181c32;
$text-white: #f5f8fa;
$text-gray-400: #b5b5c3;

// Then import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';
@import './scss/blog.scss';

body {
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Fira Sans', sans-serif;
    background-color: $text_white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
    color: #181c32;
}

p {
}

a {
    text-decoration: none;
}

.card {
    border: 0;
    box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
    background-color: #ffffff;
}

.card-text {
    color: #7e8299;
}

.tag {
    color: #7239ea;
    background-color: #f8f5ff;
}
